a {
	color: #000000;
	font-size: 38px;
	text-decoration: none;
	font-Family: Segoe UI, sans-serif;
}

a:link{
	color: #000000;
}

a:visited{
	color: #000000;
}





section {
	background: rgba(255, 255, 255, 0.7);
	position: absolute; width: 100%; top: 0%;
height: 200px;
}

div#Logo{
width: 30%;
float: left;
}

nav{
	padding-top: 60px;
	float:left;
	width: 70%;	
}


a#main{
margin-right: 70px;
}
	
a#cs{
margin-right: 70px;
}
a#cs:hover{
		background: rgba(0,0,0,0.5);
	color: white;
}

a#pr{
text-align: center;
margin-right: 70px;
}
a#pr:hover{
		background: rgba(0,0,0,0.5);
	color: white;
}

a#ga{
margin-right: 48px;
}
a#ga:hover{
		background: rgba(0,0,0,0.5);
	color: white;
}

a#sia{
margin-right: 56px;
}
a#sia:hover{
		background: rgba(0,0,0,0.5);
	color: white;
}

header{
	 float: left;
	 	background: rgba(255, 255, 255, 0.7);
		position: absolute; width: 50%; top: 21%;
height: 166px;
width: 945px;
text-align: left;
font-size:60px;
 }
 
 div#tlo{
	width: 1920px;
 }
 

h1{
	font-size: 60px;
	font-Family: Segoe UI, sans-serif;
	
}	
h3{
	font-size: 50px;
	font-Family: Segoe UI, sans-serif;
}
p {
	font-size: 40px;
	font-Family: Segoe UI, sans-serif;
}

div#obraz_1{
	float: left;
	width:50%;
}
div#obraz_2{
	float: left;
	width:50%;
}
div#Mapa{
	float: left;
	width:50%;
}
article{
	float: left;
	width:50%;
}
main{ margin-top: 300px}